---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Group publications by year -->
{% assign postsByYear = site.publications | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <h2 id="{{ year.name }}" class="archive__subtitle">{{ year.name }}</h2>
  <hr />
  {% assign counter = 0 %}
  {% for post in year.items %}
    {% assign counter = counter | plus: 1 %}
    {% include archive-single.html counter=counter %}
  {% endfor %}
{% endfor %}



